.bg-apostilla {
    background-image: url("img/images.jpg");   /* ← ajusta el nombre si es distinto */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
